 @media print {
            body {
                visibility: hidden;
            }

            #paper {
                visibility: visible;
                position: absolute;
                top: 0;
                left: 0;
               min-height: auto;
            min-width: auto;
            border: none;
            box-shadow: none;
            height: 200vh;
            width: 100vw;
            }

            footer {
                display: block;
            }

            .circle {
            background-color: rgb(195, 195, 0);
            border-radius: 100px;
            height: 50px;
            width: 50px;
            margin: 10px;
            margin-top: 2px;
            border: 1px solid black;
        }

            
        }

        footer {
            display: none;
        }

        .holder {
            display: inline-block;

            margin: 10px;
            
        }

        #paper {
            height: 70vh;
            width: 50vw;
            font-size: 0.7em;
            margin: 10px;
            padding: 5px;
            overflow: scroll;
           display: block;
           text-align: center;
           
           
            background-color: white;
        }

        body {
            display: flex;
            font-family: open sans;

        }

        .menu {
            background-color: rgb(213, 253, 253);
            padding: 5px;
            margin: 5px;
            border: 1px solid black;
            width: 38vw;
        }

        .menu2 {
            background-color: lightgrey;
            padding: 5px;
            overflow: scroll;
            width: 55vw;
        }

        #num1, #num2 {
            width: 7vw;
        }

        .circle {
            background-color: rgb(195, 195, 0);
            border-radius: 100px;
            height: 50px;
            width: 50px;
            margin: 10px;
            margin-top: 2px;
            border: 1px solid black;
        }

        .Square {
            background-color: blue;
            margin: 10px;
            margin-top: 2px;
        }

        button {
            border-radius: 3px;
            background-color: white;

        }

        .algebra {
            display: grid;
        }

        #multiply, #addOn, #ans, #letters {
            width: 2em;
        }

        .flexing {
            display: block flex;
            align-items: center;
            justify-content: center;
        }

       



   
